
<table class="table">
	<tr><%= attachment_image_tag(user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg") %></tr>

	<tr>
		<th>name</th>
		<th><%= user.name %></th>
	</tr>

	<tr>
		<th>introduction</th>
		<th><%= user.introduction %></th>
	</tr>
	<tr>
		<th>Follows</th>
		<th>
			<%= link_to user_follows_path(user) do %>
				<%= user.following_user.count %>
			<% end %>
		</th>
	</tr>
		<th>Follower</th>
		<th>
			<%= link_to user_follower_path(user) do %>
				<%= user.follower_user.count %>
			<% end %>
			</th>
</table>
<% if user != current_user %>
<!-- フォロー機能 -->
	<% if current_user.following?(user) %>
		<%= link_to "フォロー解除", user_relationship_path(user.id),class: "btn btn-primary",method: :delete %>
	<% else %>
		<%= link_to "フォローする", user_relationships_path(user.id),class: "btn btn-primary",method: :post %>
	<% end %>
<% else %>
	<div class="row">
		<%= link_to '', edit_user_path(user), class: "col-xs-12 btn btn-default glyphicon glyphicon-wrench edit_user_#{user.id}" %>
	</div>
<% end %>