<table>
	<% book.book_comments.each do |comment| %>
	  	<tr>
			<td class="comment-item">
				<%= attachment_image_tag(comment.user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %><br>
					<%= comment.user.name %>
			</td>
			<td class="comment-item"><%= comment.comment %></td>
			<td class="comment-item">
				<% if current_user.id == comment.user_id %>
					<%= link_to "Delete", book_book_comment_path(comment.book, comment),id: "comment-delete",class: "btn btn-danger", method: :delete %>
				<% end %>
			</td>
		</tr>
	<% end %>
</table>
<div id="comments_area">
	<%= form_with(model: [book, book_comment]) do |f| %>
		<%= f.text_area :comment, class: "col-xs-12",rows:'5' %>
		<%= f.submit "送信"%>
	<% end %>
